@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: rgb(102,92,164);
    background: linear-gradient(153deg, rgba(102,92,164,1) 0%, rgba(233,103,100,1) 30%, rgba(238,206,65,1) 96%);
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

header::after{
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100vw;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), transparent);
    z-index: 10
}

.menu {
    z-index: 11;
    position: absolute;
    top: 25px;
    left: 25px;
    background: transparent;
    border: 2px solid rgb(250, 250, 250);
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 12px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(250, 250, 250);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

.menu p {
    margin-left: 15px;
}

.menu:hover {
    transform:rotate(3deg);
}

.logo {
    width: 175px;
    height: 125px;
    /*background: linear-gradient(153deg, rgba(233,103,100,1) 15%, rgba(238,206,65,1) 100%);*/
    background: rgb(250, 250, 250);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 11;
    border-radius: 0 0 25px 25px;
    /*
    border-bottom: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px white;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    transition: transform 150ms ease-in-out;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(31, 31, 31);
    cursor: default;
}

.info {
    position: absolute;
    right: 25px;
    top: 20px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info-top {
    display: flex;
    flex-direction: row;
}

.info p {
    background: transparent;
    border: 2px solid rgb(250, 250, 250);
    margin-bottom: 8px;
    font-size: 14px;
    width: fit-content;
    text-align: right;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    border-radius: 4px;
    font-weight: 500;
    color: rgb(250, 250, 250);
    cursor: default;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 72px;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner::after {
    content: '';
    position: absolute;
    margin-top: -7px;
    display: block;
    width: 100vw;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    z-index: 10
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    cursor: default;
    color: rgb(250, 250, 250);
    text-align: center;
}
.days {
    font-size: 100px;
    font-weight: 800;
    margin-bottom: -25px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
}

.month {
    font-size: 60px;
    font-weight: 800;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
}



.arrow-down {
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: 75px;
}

.arrow-down i {
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
    transition: transform 150ms ease-in-out;
}
.arrow-down i:hover {
    transform: scale(1.1);
}

.welcome {
    position: relative;
    color: rgb(40, 36, 66);
    min-height: 600px;
}
.welcome-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 100;
}
.welcome h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}

.welcome p {
    width: 45%;
    font-size: 20px;
}

.welcome img {
    z-index: 10;
    position: relative;
    top: -280px;
    left: 50%;
    transform: translate(-50%);
    width: 450px;
    filter: invert(44%) sepia(58%) saturate(460%) hue-rotate(295deg) brightness(94%) contrast(78%);
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 12;
    margin-bottom: 100px;
}

.card-inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    width: 380px;
    height: 380px;
    margin: 20px;
    overflow: hidden;
    transition: transform 150ms ease-in-out;
    cursor: pointer;
}

.card img {
    z-index: 12;
    overflow: hidden;
    object-fit: fill;
    transition: transform 330ms ease-in-out;
}

.card-icon {
    position: absolute;
    top: 18px;
    right: 24px;
    color: rgb(250, 250, 250);
    z-index: 13;
    font-size: 24px;
    transform: rotate(30deg);
}

.card-title {
    width: 100%;
    height: 75px;
    z-index: 13;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(153deg, rgba(102,92,164,1) 0%, rgba(233,103,100,1) 54%, rgba(238,206,65,1) 110%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title p {
    text-transform: uppercase;
    color: rgb(250, 250, 250);
    font-weight: 700;
    font-size: 32px;
    transform: translateY(-8px);
}

.card-title p::before {
    content: attr(data-text);
    position: absolute;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 32px;
    background: linear-gradient(0deg, #fff, transparent, 80%);
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0.3;
}

.card-1 img {
    width: 100%;
}

.card-2 img {
    height: 100%;
}

.card-3 img {
    height: 85%;
    transform: translateX(-50px);
}

.card-4 img {
    width: 100%;
}

.card-5 img {
    width: 100%;
    transform: translateY(-50px);
}

.card-6 img {
    width: 100%;
    transform: translateY(-50px);
}

.card:hover .card-image {
    transform: scale(1.25);
}

.bottom {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: -8px;
}

.bottom img {
    width: 100%;
    height: 100%;
}

footer {
    height: 150px;
    background: rgb(12,74,25);
    background: linear-gradient(113deg, rgba(12,74,25,1) 0%, rgba(121,139,39,1) 100%);
}

.footer-content {
    position: relative;
    width: 100%;
}

.copyright {
    position: absolute;
    bottom: -130px;
    left: 50%;
    transform: translate(-50%);
    color: rgb(250, 250, 250);
    font-size: 16px;
}


@media all and (max-width: 800px) {
    
    .info {
        right: 5px;
        top: 12px;
    }
    
    .info-top {
        flex-direction: column;
        align-items: flex-end;
    }
    
    .info p {
        margin-bottom: 4px;
        font-size: 10px;
        padding: 2px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 4px;
    }

    .menu {
        top: 15px;
        left: 10px;
        padding: 8px;
        font-size: 18px;
    }
    
    .menu p {
        margin-left: 12px;
    }

    .logo {
        width: 150px;
        height: 115px;
        top: 0;
        border-radius: 0 0 15px 15px;
    }
    
    .logo img {
        width: 120px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .logo p {
        font-size: 16px;
        font-weight: 900;
    }

    .banner {
        width: 100%;
        height: 600px;
    }

    .days {
        font-size: 50px;
        margin-bottom: -15px;
    }
    
    .month {
        font-size: 30px;
    }
    
    .arrow-down {
        text-decoration: none;
        color: rgb(250, 250, 250);
        font-size: 50px;
    }

    .welcome {
        min-height: 100px;
        padding-top: 50px;
    }
    .welcome h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    
    .welcome p {
        width: 70%;
        font-size: 16px;
    }
    
    .welcome img {
        width: 380px;
    }
    
    .card {
        width: 320px;
        height: 320px;
        margin: 20px;
    }
    
    .card-title p {
        font-size: 30px;
    }
    
    .card-title p::before {
        line-height: 30px;
    }

    footer {
        height: 100px;
    }
    
    .copyright {
        bottom: -100px;
        font-size: 12px;
    }
  }